# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS specific files
.DS_Store

# Ignore log files
*.log

# Ignore other specific files or folders
.idea/
.vscode/
